.btn {
  background-color: var(--orange);
  color: var(--dark-grey);
  padding: .5rem 1rem;
  border-radius: 2rem;
  position: relative;
  z-index: 500;
  text-align: center;
  width: 100%;
  height: fit-content;
  transition: all .3s;

  &:hover {
    background-color: #ee8f00;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &.btn--large {
    padding: .75rem 1.5rem;
    border-radius: 4rem;
    font-size: 1.5rem;
  }

  &.round {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;    
  }
}

@media screen and (min-width: 768px) {
  .btn {
    width: fit-content;
  }
}