#about__section {
  .container {
    display: grid;
    row-gap: 4rem;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";

    .title {
      grid-area: a;
    }

    .photo-resume {
      grid-area: b;
      display: grid;
      grid-template-areas:
      "a b";
      grid-template-columns: min-content auto;
      row-gap: 1rem;
      column-gap: 1rem;
      align-items: center;

      .photo {
        grid-area: a;
        width: 7rem;
        height: 7rem;
        border-radius: 3.5rem;
        padding: .1rem;
        background-color: var(--blue);

        > span {
          position: relative !important;
          display: unset !important;

          img {
            position: relative !important;
            grid-area: b;
            width: 100%;
            height: 100%;
            border-radius: 3.5rem;
            object-fit: cover;
          }
        }
      }

      .resume {        
        i {
          font-size: 1.3rem;
          color: var(--dark-grey);
          margin-right: .5rem;
          transition: all .2s;

          &:hover {
            color: var(--orange);
          }
        }

        h3, p {
          margin-bottom: 0.3rem;
        }
      }
    }

    .text {
      grid-area: c;

      p:last-child {
        margin: 0;
      }
    }

    .btn {
      grid-area: d;
    }
  }
}

@media screen and (min-width: 650px) {
  #about__section {
    .container {
      align-items: center;
      grid-template-areas:
      "a b"
      "c c"
      "d d";
  
      .title {
        grid-area: a;
      }
  
      .photo-resume {
        grid-area: b;
        justify-self: center;
      }
  
      .text {
        grid-area: c;
  
        p:last-child {
          margin: 0;
        }
      }
  
      .btn {
        grid-area: d;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  #about__section {  
    .container {
      display: grid;
      justify-content: center;
      row-gap: 0;
      column-gap: 5rem;
      grid-template-columns: max-content 50ch;
      grid-template-areas:
      "a a"
      "b c"
      "d c";
  
      .title {
        grid-area: a;
        margin-bottom: 4rem;
      }
  
      .photo-resume {
        align-self: flex-start;
        grid-area: b;
        grid-template-areas:
        "a"
        "b";
        grid-template-rows: min-content min-content;
        grid-template-columns: 1fr;
      }
  
      .text {
        grid-area: c;
      }
  
      .btn {
        grid-area: d;
        align-self: flex-end;
      }
    }
  }
}