#services__section {
  .container {
    display: grid;
    row-gap: 4rem;

    .services-cards {
      display: grid;
      row-gap: 2rem;
      column-gap: 2rem;

      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 576px) {
  #services__section {
    .container {  
      .services-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
}

@media screen and (min-width: 911px) {
  #services__section {
    .container {  
      .services-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
    }
  }
}