.portfolio-item {
  width: 100%;

  img {
    margin-bottom: -25%;
    width: 100%;
    height: 40%;
    object-fit: contain;
    object-position: center center;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16)) drop-shadow(0px 3px 6px rgba(0,0,0,0.23));
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16)) drop-shadow(0px 3px 6px rgba(0,0,0,0.23));
    z-index: 300;
    position: relative;
  }

  .content {
    background-color: var(--white);
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    z-index: 200;
    position: relative;
    display: grid;
    row-gap: 1.5rem;

    h3 {
      color: var(--orange);
      font-weight: 400;
    }

    .stack-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -.5rem;
      margin-bottom: -.5rem;

      .stack-item {
        padding: .5rem 1rem;
        border: 1px solid var(--dark-grey);
        border-radius: 3rem;
        margin-left: .5rem;
        margin-bottom: .5rem;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .portfolio-item {
    display: flex;
    justify-content: center;
    width: 100%;
  
    img {
      margin-bottom: 0;
      margin-right: -5%;
      width: 15rem;
      height: 100%;
    }
  
    .content {
      padding:  1.5rem 1.5rem 1.5rem 5rem;  
      width: 70%;
    }
  }
}