.portfolio-item {
  width: 100%;

  > span {
    z-index: 300 !important;
    overflow: visible !important;
    width: 100% !important;
  }

  img {
    margin-bottom: -25% !important;
    z-index: 300 !important;
    -webkit-filter: drop-shadow(0 1px 3px rgba(0,0,0,0.12)) drop-shadow(0 1px 2px rgba(0,0,0,0.24));
    filter: drop-shadow(0 1px 3px rgba(0,0,0,0.12)) drop-shadow(0 1px 2px rgba(0,0,0,0.24));
  }

  .content {
    background-color: var(--white);
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    z-index: 200;
    position: relative;
    display: grid;
    row-gap: 1.5rem;

    h3 {
      color: var(--orange);
      font-weight: 400;
    }

    .stack-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -.5rem;
      margin-bottom: -.5rem;

      .stack-item {
        padding: .5rem 1rem;
        border: 1px solid var(--dark-grey);
        border-radius: 3rem;
        margin-left: .5rem;
        margin-bottom: .5rem;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .portfolio-item {
    img {
      margin-bottom: -15% !important;
    }
  }
}

@media screen and (min-width: 601px) {
  .portfolio-item {
    display: flex;
    justify-content: center;
    width: 100%;

    > span {
      width: 205px !important;
      height: 100% !important;
    }

    img {
      margin-bottom: 0 !important;
      margin-right: -15% !important;
    }

    .content {
      padding:  1.5rem 1.5rem 1.5rem 5rem;  
      width: 70%;
    }
  }
}