.benefit-item {
  width: 100%;
  display: grid;
  row-gap: 1rem;
  grid-template-rows: min-content auto;

  > span {
    position: relative !important;
    display: unset !important;

    img {
      position: relative !important;
    }
  }

  p {
    margin: 0;
  }  
}